<mat-toolbar color="primary" class="mat-elevation-z6">
	<button mat-icon-button routerLink="/home">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span>PharmEvil</span>
</mat-toolbar>

<mat-card class="center-card">
	<mat-card-header>
		<div mat-card-avatar class="header-image"></div>
		<mat-card-title>{{mail.subject}}</mat-card-title>
		<mat-card-subtitle>{{mail.to}} - {{mail.date}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content [innerHTML]="mail.body"></mat-card-content>
</mat-card>