html, body {
	height: 100%;
}

body {
	background-color: #fafafa;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-card {
	width: 80%;
	margin: 32px auto;

	.content {
		display: flex;
		flex-direction: column;
	}

	.actions {
		display: flex;
		justify-content: space-between;

		.loading {
			width: 24px;
		}
	}

	.actions-end {
		justify-content: flex-end;
	}
}

@media screen and (min-width: 900px) {
	.center-card {
		width: 30%;
	}
}